<div class="front-page">
  <h1> Andrew Guard </h1>
  <h2> About me </h2>
  <div>
  <a href="http://www.flickr.com/photos/andrewguard/7182111256/in/set-72157632029190328"><img src="andrew.jpg" alt="My Pic" /></a>
  </div>
</div>
