<div class="front-page">
  <div class="content">
    <div class="stylebox">
      <a href="http://www.flickr.com/photos/andrewguard/7182111256/in/set-72157632029190328"><img src="andrew.jpg" alt="My Pic" class="header-pic" /></a>
      <h1> Andrew Guard </h1>
      <p>
        My passions are to learn and to explore.
      </p>
      <p>
        Over the last five years, I taught conversational English in rural China, business English in Buenos Aires, and backpacked through Argentina, Chile, Bolivia, Peru, and Colombia for six months. Those experiences ranged from high mountains to the Amazon jungle to the rural Chinese countryside. Sometimes I could speak all day with people I met in their own languages. Sometimes a full month would pass before I could have a conversation that went beyond a pleasant greeting. Those experiences changed my life forever and made me the person who I am today. It's been a journey; you can read more about it here if you like.
      </p>
      <p>
        In December, I graduated from <a href="http://www.devbootcamp.com">Dev Bootcamp </a>. It was the most intense educational experience of my life - humbling and energizing. I was fortunate in my past to attend some great schools (Davidson College and a summer course at Cambridge) but I can honestly say I've never been around as intelligent and focused a group of people as at Dev Bootcamp.
      </p>
    </div>
  </div>
</div>
