<div class="front-page">
  <div class="content">
    <div class="stylebox">

      <a href="http://www.flickr.com/photos/andrewguard/9658573859/"><img src="xinyustudents.jpg" alt="My Pic" class="students"></a>
      <h2>Travel</h2>
      <p>
      Travel has enriched my life.
</p>
<p>
      There is no way to describe adequately what it feels like to be truly immersed in a culture where there is extraordinarily little common ground for perspectives and gestures. I've been extremely lucky to have had the opportunities I did.
      </p>

      <p>
        My first memories are from Saudi Arabia, where my family lived for four years (I was 5-9 years old). We lived there in the early 1990s when the world was very different than it is today and our whole family enjoyed the experience (even my mother). We then moved all over the place in the USA, winding up in Chicago for a while.
      </p>

      <p>

      </p>



    </div>
  </div>
</div>
